@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.tournament {
  padding: 40px 0;
  background-color: #000000;
  padding-top: 5em;
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif; 
}

.tournaments-container {
  max-width: 1200px;
  margin: 10px auto;
  text-align: center;
}

.tournaments-heading {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif; 
}

.tournaments-subheading {
  font-size: 1.25rem;
  margin-bottom: 40px;
  color: #ffeded;
  font-family: 'Poppins', sans-serif; 
}

.games-grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.game-card {
  position: relative;
  width: 250px;
  height: 350px;
  background-color: #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  font-family: 'Poppins', sans-serif; 
}

.game-card:hover {
  transform: translateY(-10px);
}

.bgmi-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.game-card-back {
  position: absolute;
  bottom: -12%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  border-top: 2px solid #fff;
  display: none;
  font-family: 'Poppins', sans-serif; 
}

.game-card:hover .game-card-back {
  display: block;
}

.tournaments-container p {
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
}

.bgmi-container img {
  position: relative;
  z-index: 1;
  border-radius: 40px;
}

.game-card-inner img {
  width: 100%;
  height: auto;
}

.game-card-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (max-width: 1024px) {
  .games-grid {
    gap: 30px;
  }

  .game-card {
    width: 200px;
    height: 300px;
  }

  .tournaments-heading {
    font-size: 2rem;
  }

  .tournaments-subheading {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  
  .tournaments-container {
    max-width: 1200px;
    margin: 15em auto;
    text-align: center;
  }

  .games-grid {
    gap: 20px;
  }

  .game-card {
    width: 180px;
    height: 250px;
  }

  .tournaments-heading {
    font-size: 1.8rem;
  }

  .tournaments-subheading {
    font-size: 0.9rem;
  }

  .game-card-back {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .tournament {
    padding-top: 10em;
    height: auto;
  }

  .tournaments-heading {
    font-size: 1.5rem;
  }

  .tournaments-subheading {
    font-size: 0.8rem;
  }

  .games-grid {
    gap: 15px;
  }

  .game-card {
    width: 150px;
    height: 200px;
  }

  .game-card-back {
    font-size: 0.8rem;
  }
}
